<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
            <div class="card card-body my-5">
                <h1 class="text-center">REGISTRATION</h1>
                <b>Your name:</b>
                <input type="text" class="form-control  mb-3" id="name"
                       placeholder="Name.."/>

                <b>Login:</b>
                <input type="text" class="form-control mb-3" id="login"
                       placeholder="Login" min="0" max="100" step="1"/>

                <b>Password:</b>
                <input type="password" class="form-control mb-3" id="password"
                       placeholder="Password" min="0" max="100" step="1"/>
                <p1 class=" mb-3">Have an account? <a class="text-info" href="/index">Log in</a></p1>
                <button type="button" class="btn btn-dark w-100" onclick="registration()">Registration</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>

<script>

    const ws = new WebSocket("ws://localhost:3003");

    ws.addEventListener("message", (event) => {
        let result = JSON.parse(event.data)
        alert(result.message);
        if (result.status === 200) {
            window.location.href = '/authorization';
        }
    });

    async function registration() {
        let data = {
            request: 'registration',
            name: document.getElementById("name").value,
            login: document.getElementById("login").value,
            password: document.getElementById("password").value
        }
        ws.send(JSON.stringify(data));
    }

    window.onbeforeunload = function() {
        ws.onclose = function () {}
        ws.close();
    };

</script>